td{
    font-size:20;
    font-family:Arial;
    text-align:center;
    text-align:center;}
    ul{
    margin-top:100px;
    font-size:23;
    font-family:Arial;
    border-radius:30px;
    color:black;
    padding-bottom:10px;
    background-color:powderblue;
    padding-left:30px;
    padding-right:30px;
    
    }
    h2{position:absolute;
    font-size:25;
    font-family:Arial;
    top:420px;
    margin-left:100px;
    background-color:yellow;
    color:black;
    padding-left:10px;
    padding-right:10px;
    border-radius:30px;
    }
    h3{
    top:830px;
    font-size:20;
    margin-left:100px;
    position:absolute;
    text-align:center;
    border-radius:30px;
    background-color:yellow;
    color:black;
    padding-left:10px;
    padding-right:10px;
    }
    table{
    margin-top:100px;
    margin-left:30px;
    border-radius:30px;
    color:black;
    padding-bottom:10px;
    background-color:powderblue;
    padding-left:30px;
    padding-right:30px;
    }
    img
    {
    margin-top:45px;
    margin-left:170px;
    width:250px;
    height:250px;
    border-radius:30px;
    }
    form{position:absolute;
    font-size:35;
    font-family:Arial;
    border-radius:30px;
    background-color:powderblue;
    margin-top:30px;
    margin-left:330px;
    padding-left:30px;
    padding-right:30px;
    }
    p{position:absolute;
    font-size:35;
    font-family:Arial;
    background-color:black;
    color:white;
    margin-left:650px;
    padding-left:30px;
    padding-right:30px;
    border-radius:30px;
    }
    h5{position:absolute;
    font-size:45;
    font-family:Arial;
    background-color:powderblue;
    border-radius:30px;
    margin-top:50px;
    margin-left:280px;
    padding-left:30px;
    padding-right:30px;
    }
    